# Main code

In [ ]:
# In this code we will get GPTchat to make us some bot tweets that we can use to train our model. 
! pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.25.0.tar.gz (44 kB)
     |████████████████████████████████| 44 kB 3.1 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting pandas-stubs>=1.1.0.11
  Downloading pandas_stubs-1.5.2.221213-py3-none-any.whl (147 kB)
     |████████████████████████████████| 147 kB 58.2 MB/s
Requirement already satisfied: pandas>=1.2.3 in /usr/local/lib/python3.8/dist-packages (from openai) (1.3.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.8/dist-packages (from openai) (2.23.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from openai) (4.4.0)
Requirement already satisfied: openpyxl>=3.0.7 in /usr/local/lib/python3.8/dist-packages (from openai) (3.0.10)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from openai) (4.64.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from openai) (1.21.6)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl>=3.0.7->openai) (1.1.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.3->openai) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.3->openai) (2.8.2)
Collecting types-pytz>=2022.1.1
  Downloading types_pytz-2022.7.0.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.3->openai) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (1.24.3)
Building wheels for collected packages: openai
  Building wheel for openai (PEP 517) ... done
  Created wheel for openai: filename=openai-0.25.0-py3-none-any.whl size=55880 sha256=d77919862b2cb9c0cc8467388da4bf5d0f48d7899cd384db49d3255bd6fb6fe1
  Stored in directory: /root/.cache/pip/wheels/4b/92/33/6f57c7aae0b16875267999a50570e81f15eecec577ebe05a2e
Successfully built openai
Installing collected packages: types-pytz, pandas-stubs, openai
Successfully installed openai-0.25.0 pandas-stubs-1.5.2.221213 types-pytz-2022.7.0.0

In [ ]:
# Get chatgpt to do some work, adjust prompts or number of requests in prompt if necessary.
# it will usually not give you more than 20 sentences per request, even though we ask it to give us a 100. 
# used prompts
#" please give me 100 tweet text that Twitter bot generates in csv file format",
# "please give me 100 tweet text related to politics that Twitter bot generates in csv file format"
# "please give me 100 tweet text related to any industry that Twitter bot generates in csv file format" 
# "please give me 100 tweet text related to random topic that Twitter bot generates in csv file format",
# "please give me 100 tweet text related to any kind of news that Twitter bot generates in csv file format",
# "please give me 100 tweet text related to Top 50 Most Followed Twitter Accounts that Twitter bot generates in csv file format"

import os
import openai
import json

openai.api_key = '' #remove key 
bigstring = ''
m=0
while m<15:
  response = openai.Completion.create(
    model="text-davinci-003",
    prompt="please give me 100 tweet text that Twitter bot generates in csv file format",
    temperature=0.9,
    max_tokens=4050,
    top_p=1,
    frequency_penalty=0.0,
    presence_penalty=0.6,
    stop=[" Human:", " AI:"]
  )
  response
  json_object = json.loads(str(response))
  text = json_object['choices'][0]['text']
  bigstring = bigstring + text
  m=m+1

In [ ]:
m=0
while m<15:
  response = openai.Completion.create(
    model="text-davinci-003",
    prompt="please give me 100 tweet text related to politics that Twitter bot generates in csv file format",
    temperature=0.9,
    max_tokens=4050,
    top_p=1,
    frequency_penalty=0.0,
    presence_penalty=0.6,
    stop=[" Human:", " AI:"]
  )
  response
  json_object = json.loads(str(response))
  text = json_object['choices'][0]['text']
  bigstring = bigstring + text
  m=m+1

In [ ]:
m=0
while m<10:
  response = openai.Completion.create(
    model="text-davinci-003",
    prompt="please give me 100 tweet text related to any industry that Twitter bot generates in csv file format",
    temperature=0.9,
    max_tokens=3000,
    top_p=1,
    frequency_penalty=0.0,
    presence_penalty=0.6,
    stop=[" Human:", " AI:"]
  )
  response
  json_object = json.loads(str(response))
  text = json_object['choices'][0]['text']
  bigstring = bigstring + text
  m=m+1

In [ ]:
m=0
while m<10:
  response = openai.Completion.create(
    model="text-davinci-003",
    prompt="please give me 100 tweet text related to random topic that Twitter bot generates in csv file format",
    temperature=0.9,
    max_tokens=4050,
    top_p=1,
    frequency_penalty=0.0,
    presence_penalty=0.6,
    stop=[" Human:", " AI:"]
  )
  response
  json_object = json.loads(str(response))
  text = json_object['choices'][0]['text']
  bigstring = bigstring + text
  m=m+1

In [ ]:
m=0
while m<10:
  response = openai.Completion.create(
    model="text-davinci-003",
    prompt="please give me 100 tweet text related to any kind of news that Twitter bot generates in csv file format",
    temperature=0.9,
    max_tokens=4050,
    top_p=1,
    frequency_penalty=0.0,
    presence_penalty=0.6,
    stop=[" Human:", " AI:"]
  )
  response
  json_object = json.loads(str(response))
  text = json_object['choices'][0]['text']
  bigstring = bigstring + text
  m=m+1

In [ ]:
m=0
while m<10:
  response = openai.Completion.create(
    model="text-davinci-003",
    prompt="please give me 100 tweet text related to Top 50 Most Followed Twitter Accounts that Twitter bot generates in csv file format",
    temperature=0.9,
    max_tokens=4050,
    top_p=1,
    frequency_penalty=0.0,
    presence_penalty=0.6,
    stop=[" Human:", " AI:"]
  )
  response
  json_object = json.loads(str(response))
  text = json_object['choices'][0]['text']
  bigstring = bigstring + text
  m=m+1

In [ ]:
len(bigstring)

227449

In [ ]:
bigstring = bigstring.split('.')

In [ ]:
#create a corresponding index for the sentences.
indoix = []
for i in range(len(bigstring)):
  indoix.append(i)

In [ ]:
#put both lists together in a dictionary
d = {'Indoix':indoix,'Text':bigstring}

In [ ]:
#put into dataframe and drop 'indoix' column. 
import pandas as pd
df = pd.DataFrame(d)
df = df['Text']
df = df.to_frame()

In [ ]:
df

                                                   Text
0     \n\n1,Sample Tweetbot Tweet 1\n2,Sample Tweetb...
1      #stayfocused \nTweet7: Learn something new to...
2      #positivity \nTweet10: You can do it! #determ...
3      #curious \nTweet12: A closed mouth doesn't ge...
4      #speakup \nTweet13: Don't wait - live now! #e...
...                                                 ...
2553                                   #MostFollowed\n9
2554   Cristiano Ronaldo (@Cristiano) comes in ninth...
2555             3 million followers! #MostFollowed\n10
2556   Justin Timberlake (@jtimberlake) is the tenth...
2557                                      #MostFollowed

[2558 rows x 1 columns]

In [ ]:
#get rid of all the \n2 \n3
df = df[df['Text'].str.len()>4]
df = df.reset_index()
df=df['Text'].to_frame()
df

                                                   Text
0     \n\n1,Sample Tweetbot Tweet 1\n2,Sample Tweetb...
1      #stayfocused \nTweet7: Learn something new to...
2      #positivity \nTweet10: You can do it! #determ...
3      #curious \nTweet12: A closed mouth doesn't ge...
4      #speakup \nTweet13: Don't wait - live now! #e...
...                                                 ...
2501                                   #MostFollowed\n9
2502   Cristiano Ronaldo (@Cristiano) comes in ninth...
2503             3 million followers! #MostFollowed\n10
2504   Justin Timberlake (@jtimberlake) is the tenth...
2505                                      #MostFollowed

[2506 rows x 1 columns]

In [ ]:
#get rid of more trash
import re
newline_symbols='/\r?\n|\r/'
numbers='[0-9]'
df['Text'] = df['Text'].replace(newline_symbols,'',regex=True)
df['Text'] = df['Text'].replace(numbers,'',regex=True)

In [ ]:
df

                                                   Text
0     \n\n,Sample Tweetbot Tweet \n,Sample Tweetbot ...
1      #stayfocused \nTweet: Learn something new tod...
2      #positivity \nTweet: You can do it! #determin...
3      #curious \nTweet: A closed mouth doesn't get fed
4      #speakup \nTweet: Don't wait - live now! #enj...
...                                                 ...
2501                                    #MostFollowed\n
2502   Cristiano Ronaldo (@Cristiano) comes in ninth...
2503                 million followers! #MostFollowed\n
2504   Justin Timberlake (@jtimberlake) is the tenth...
2505                                      #MostFollowed

[2506 rows x 1 columns]

In [ ]:
df.to_excel("bot_tweet.xlsx")